html,
body,
* {
  background-color: skyblue;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10px so we do 62.5% */
  font-family: 'Pacifico', cursive;
}
.header {
  font-size: 5rem;
  text-align: center;
  margin: 1rem auto;
  border: 3px solid blue;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  padding: 3px;
  width: 50%;
  
}
.parent {
  font-size:30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  
  
}
.child-1 {
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.row-1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 10px;
}
.row-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 10px;
}
.row-3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 10px;
}
.child-child-1 {
  border: 3px solid purple;
  height: 40vh;
  width: 40vw;
  text-align:center; 
  font-size: 4rem;
  max-width:100%;
max-height:100%;
transition: all 0.3s;
}
.child-child-2 {
  border: 3px solid red;
 height: 40vh;
 width: 40vw;
  text-align:center;
  font-size: 4rem;
  max-width:100%;
max-height:100%;
transition: all 0.3s;
  
}
.child-child-3 {
  border: 3px solid mediumorchid;
  height: 40vh;
  width: 40vw;
  text-align: center;
  font-size: 4rem;
  max-width:100%;
max-height:100%;
transition: all 0.3s;
}
.child-child1:hover {
  transform: scale(2)
}
.child-child2:hover {
  transform: scale(2)
}
.child-child3:hover {
  transform: scale(2)
}
@media (orientation: portrait) {
  .header {
    color:white
  }
}
@media (orientation: landscape) {
  .header {
    color:pink
  }
}
@media (min-width: 500px) {
  body {
    color: green
  }
}
@media (min-width: 700px) {
  body {
    color: moccasin
  }
}
@media (min-width: 1200px) {
  body {
    color:royalblue
  }
}



