html,
body,
* {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10px so we do 62.5% */
}
h1 {
  font-size: 50px;
  text-align: center;
  color: skyblue;
  border: 3px;
}
.image {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
 
}
.parent {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.about-image{
  border: 10px blue;
  padding: 10px;
  border-style: groove;
  }
}
/* .child {
  width: 28%;
}
.child-1 {
  border: 3px solid green;
  height: 300px;
}
.child-2 {
  border: 3px solid yellow;
  height: 500px;
  flex-grow: 2;
}
.child-3 {
  border: 3px solid blue;
  height: 600px;
}
h2 {
  margin: 1rem;
  flex-wrap: wrap;
}
.px-size {
  font-size: 20px;
  text-align: left;
}
.rem-size {
  font-size: 2rem; /* base root font size */
}
/* .em-size {
  font-size: 5em; this should be 50 pixels (5em)
} */ */
